In [1]:
import numpy as np

#### База данных

In [2]:
products = np.array(['хлеб', 'молоко', 'творог'])
products

array(['хлеб', 'молоко', 'творог'], dtype='<U6')

In [3]:
price = np.array([30, 80, 70])
price

array([30, 80, 70])

In [4]:
price[0]

30

In [5]:
price[products=='хлеб']

array([30])

In [6]:
customers = np.array(['Bob', 'Alice', 'Joe'])
customers

array(['Bob', 'Alice', 'Joe'], dtype='<U5')

строки - покупатели (Bob, Alice, Joe), поля - продукты (хлеб, молоко, творог)

In [7]:
history = np.array([[1, 2, 1],
                    [2, 3, 0],
                    [0, 1, 4]])
history

array([[1, 2, 1],
       [2, 3, 0],
       [0, 1, 4]])

#### Broadcasting

In [8]:
history

array([[1, 2, 1],
       [2, 3, 0],
       [0, 1, 4]])

In [9]:
price

array([30, 80, 70])

In [11]:
sum_history = history * price
sum_history

array([[ 30, 160,  70],
       [ 60, 240,   0],
       [  0,  80, 280]])

In [12]:
sum_history.sum()

920

Сумма денег по покупателю:

In [16]:
sum_history.sum(axis=1).reshape((-1, 1))

array([[260],
       [300],
       [360]])

Сумма по продуктам:

In [17]:
sum_history.sum(axis=0)

array([ 90, 480, 350])

In [18]:
sum_history.mean(axis=0)

array([ 30.        , 160.        , 116.66666667])

In [20]:
np.mean(sum_history, axis=0)

array([ 30.        , 160.        , 116.66666667])

In [19]:
(70 + 0 + 280) / 3

116.66666666666667

In [21]:
np.median(sum_history, axis=0)

array([ 30., 160.,  70.])

#### БД по недвижимости

In [22]:
features = np.array(['Rooms', 'Square', 'KitchenSquare'])
features

array(['Rooms', 'Square', 'KitchenSquare'], dtype='<U13')

In [23]:
flat_id = np.array([112, 113, 115, 205])

В строках - квартиры, в столбцах - признаки квартир (Rooms, Square, KitchenSquare)

In [24]:
flats = np.array([[1, 35, 8], 
                  [1, 37, 10] , 
                  [2, 45, 11], 
                  [3, 62, 12]])
flats

array([[ 1, 35,  8],
       [ 1, 37, 10],
       [ 2, 45, 11],
       [ 3, 62, 12]])

In [26]:
flats[flat_id==205]

array([[ 3, 62, 12]])

In [27]:
flats[flat_id==205, features=='Rooms']

array([3])

In [28]:
flats[3, 0]

3

Цены на квартиры в млн. руб.

In [29]:
prices = np.array([3.5, 3.8, 5.2, 7.2])
prices

array([3.5, 3.8, 5.2, 7.2])

In [30]:
prices = prices.reshape((-1, 1))
prices

array([[3.5],
       [3.8],
       [5.2],
       [7.2]])

In [31]:
prices.ndim

2

In [32]:
prices.shape

(4, 1)

#### Объединение массивов

hstack

In [33]:
flats

array([[ 1, 35,  8],
       [ 1, 37, 10],
       [ 2, 45, 11],
       [ 3, 62, 12]])

In [34]:
prices

array([[3.5],
       [3.8],
       [5.2],
       [7.2]])

In [36]:
flats2 = np.hstack([flats, prices])
flats2

array([[ 1. , 35. ,  8. ,  3.5],
       [ 1. , 37. , 10. ,  3.8],
       [ 2. , 45. , 11. ,  5.2],
       [ 3. , 62. , 12. ,  7.2]])

vstack

In [39]:
new_flat = np.array([4, 75, 14, np.nan])
new_flat

array([ 4., 75., 14., nan])

In [44]:
flats2 = np.vstack([flats2, new_flat])
flats2

array([[ 1. , 35. ,  8. ,  3.5],
       [ 1. , 37. , 10. ,  3.8],
       [ 2. , 45. , 11. ,  5.2],
       [ 3. , 62. , 12. ,  7.2],
       [ 4. , 75. , 14. ,  nan]])

In [45]:
features2 = np.hstack([features, np.array(['Price'])])
features2

array(['Rooms', 'Square', 'KitchenSquare', 'Price'], dtype='<U13')

In [47]:
flat_id2 = np.hstack([flat_id, np.array([206])])
flat_id2

array([112, 113, 115, 205, 206])

In [49]:
# flats2[-1, -1] = 12
# flats2[4, 3] = 12
flats2[flat_id2==206, features2=='Price'] = 12

In [50]:
flats2

array([[ 1. , 35. ,  8. ,  3.5],
       [ 1. , 37. , 10. ,  3.8],
       [ 2. , 45. , 11. ,  5.2],
       [ 3. , 62. , 12. ,  7.2],
       [ 4. , 75. , 14. , 12. ]])

In [56]:
flats2[:, features2=='Price'].sum()

31.7

In [57]:
flats2[:, features2=='Price'].mean()

6.34

In [58]:
flats2[:, features2=='Price'].min()

3.5

In [59]:
flats2[:, features2=='Price'].max()

12.0

In [62]:
np.median(flats2[:, features2=='Price'])

5.2